body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #fcd0d0;
  margin: 0;
  -webkit-font-smoo;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container--no-meal {
  height: 100vh;
}

.header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #e59d9d;
}


.landing {
  display: flex;
  flex-direction: column;
  gap: 20px;  
  align-items: center;
}

.logo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.text {
  font-weight: normal;
  font-size: 48px;
}

.btn {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  font-weight: 600;
  background-color: #e59d9d;
  border-radius: 4px;
  width: 144px;
  height: 40px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.75;
}

.btn:focus {
  outline: 0;
}

#meal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 70%;
  margin-top: 50px;
}

.recipe-container {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: space-between;
  width: 100%;
}

.recipe-img {
  width: 400px;
  height: 400px;
}

.recipe-directions, .recipe-ingredients {
  font-size: 18px;
}