body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #fcd0d0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  line-height: 1.75;
  letter-spacing: -0.83px;
}

.container--no-recipe {
  height: 100vh;
  margin-top: 0;
}

.header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #e59d9d;
}


.landing {
  display: flex;
  flex-direction: column;
  gap: 20px;  
  align-items: center;
}

.logo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.text {
  font-weight: normal;
  font-size: 36px;
}

.btn {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  font-weight: 600;
  background-color: #e59d9d;
  border-radius: 4px;
  width: 144px;
  height: 40px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.75;
}

.btn:focus {
  outline: 0;
}

#recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-top: 50px;
}

.recipe-container {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  width: 100%;
  margin: 40px auto;
}

.recipe-title {
  font-size: 48px;
  font-weight: 700;
}

.recipe-img {
  grid-column-start: 1;
  width: 100%;
}

.recipe-directions {
  font-size: 18px;
}

.recipe-ingredients {
  grid-column-start: 3;
  font-size: 18px;

}

@media only screen and (max-width: 700px) {
  .container {
    line-height: 1.44;
  }

  .logo {
    width: 170px;
    height: 170px;
  }

  .text {
    font-size: 32px;
  }

  .recipe-title {
    font-size: 32px;
  }

  .recipe-container {
    display: flex;
    flex-direction: column;
  }

  .recipe-directions {
    line-height: 1.44;
  }

  .recipe-img {
    margin-bottom: 40px;
  }

}